aioboto3==8.3.0
aiobotocore==1.2.2
aiohttp==3.8.1
aioitertools==0.10.0
aiosignal==1.2.0
aredis==1.1.8
async-timeout==4.0.2
attrs==21.4.0
beautifulsoup4==4.9.3
boto3==1.16.52
botocore==1.19.52
bs4==0.0.1
certifi==2020.12.5
chardet==3.0.4
charset-normalizer==2.0.12
crypto==1.4.1
discord.py==1.5.0
frozenlist==1.3.0
idna==3.3
imutils==0.5.4
iniconfig==1.1.1
jmespath==0.10.0
marshmallow==3.9.1
multidict==6.0.2
Naked==0.1.31
numpy==1.22.3
orjson==3.6.7
packaging==20.9
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.7
pytest==7.1.1
python-dateutil==2.8.2
python-magic==0.4.25
PyYAML==5.4.1
requests==2.25.1
s3transfer==0.3.7
selenium==3.141.0
shellescape==3.8.1
six==1.16.0
soupsieve==2.2
tomli==2.0.1
typing_extensions==4.1.1
urllib3==1.26.9
venusian==3.0.0
wired==0.3
wrapt==1.14.0
yarl==1.7.2
zope.interface==5.4.0
