<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="{{ url_for('static',filename='style.css') }}" rel="stylesheet">
        <link rel="icon" href="{{ url_for('static',filename='favicon.ico') }}" />
        <title>Data quality</title>
    </head>
    <body>
        <h1>Csv data quality</h1>
        <h3>Give your csv, we say you if you have wrong data.</h3>
        <div class="outer_quare">
            <label id="inner_square" class="pointer inner_square" for="upload">
                <div id="loader" class="hide lds-ring"><div></div><div></div><div></div><div></div></div>
                <form id="formUpload" method="POST" action="http://localhost:5000/parse-csv" enctype="multipart/form-data">
                    <input id="upload" class="upload" type="file" accept=".csv" />
                </form>
                <img id="csv_icon" class="csv_icon" src="../static/csv.svg" alt="svg file logo" />
                <span id="label" class="label">Click here or drop your csv file</span>
            </label>
        </div>
    </body>
    <script type="text/javascript" src="../static/script.js"></script>
</html>
